<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsh.ic.model.dao.FanMsgDao">
	<insert id="insertFanMsg" parameterType="fanMsg">
		INSERT INTO
		fanmsgs(players_id, nickname, content)
		values (#{playerId}, #{nickname}, #{content})
	</insert>

	<select id="selectFanMsgs" parameterType="int"
		resultType="java.util.LinkedHashMap">
		SELECT content, count(fanmsg_id) as contentCnt
		FROM fanmsgs
		WHERE players_id=#{playerId}
		GROUP BY content
		ORDER BY contentCnt desc limit 20
	</select>

	<select id="selectFanMsgsLatest" parameterType="int">
		SELECT fanmsg_id as fanmsgId, players_id as playerId, nickname, content, upload_date as uploadDate
		FROM fanmsgs
		WHERE players_id=#{playerId}
		ORDER BY uploadDate desc limit 10
	</select>

	<update id="updateFanMsgCnt" parameterType="int">
		UPDATE players
		SET msg_cnt=msg_cnt+1
		WHERE id=#{playerId}
	</update>

</mapper>