<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsh.ic.model.dao.PlayerDao">
	<select id="selectAllPlayersName">
	  	SELECT id, name, gender, birth, sports, sports_detail as sportsDetail, gold, silver, bronze, intro, msg_cnt as msgCnt
	  	FROM players
	  	ORDER BY name
  	</select>
  
	<select id="selectAllPlayersPopular">
		SELECT id, name, gender, birth, sports, sports_detail as sportsDetail, gold, silver, bronze, intro, msg_cnt as msgCnt
		FROM players
		ORDER BY msg_cnt DESC
	</select>

	<select id="selectSportsPlayers" parameterType="String">
		SELECT id, name, gender, birth, sports, sports_detail as sportsDetail, gold, silver, bronze, intro, msg_cnt as msgCnt
		FROM players
		WHERE sports=#{sports}
		ORDER BY name
	</select>
	
	<select id="selectTodayPlayers">
		SELECT id,name,gender, birth, sports, sports_detail as sportsDetail, gold, silver, bronze, intro, msg_cnt, event_id, event_date  as eventDate, content, result, expect, medal_chance as medalChance
		FROM players,Events
		WHERE players.id = events.Players_id AND date(event_date)=date(now())
		ORDER BY rand();
	</select>

	<select id="selectSports">
		SELECT distinct sports
		FROM players
		ORDER BY sports
	</select>

	<select id="selectPlayerDetail" parameterType="int">
		SELECT id, name, gender, birth, sports, sports_detail as sportsDetail, gold, silver, bronze, intro, msg_cnt as msgCnt
		FROM players
		WHERE id=#{id}
	</select>

	<update id="updatePlayerIntro" parameterType="player">
		UPDATE players
		SET intro=#{intro}
		WHERE id=#{id}
	</update>

	<update id="updatePlayerGold" parameterType="int">
		UPDATE players
		SET gold=gold+1
		WHERE id=#{id}
	</update>

	<update id="updatePlayerSilver" parameterType="int">
		UPDATE players
		SET silver=silver+1
		WHERE id=#{id}
	</update>

	<update id="updatePlayerBronze" parameterType="int">
		UPDATE players
		SET bronze=bronze+1
		WHERE id=#{id}
	</update>


</mapper>